<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Roles List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item [hidden]="!authUtils.user.isSuper">
    <ion-label>Projects</ion-label>
    <ionic-selectable
      name="project_id"
      [(ngModel)]="project_id"
      [items]="projects"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      [shouldStoreItemValue]="true"
      (onChange)="onChangeProject()"
      >
    </ionic-selectable>
  </ion-item>

  <ion-item [hidden]="!authUtils.user.isSuper">
    <ion-label>Companies</ion-label>
    <ionic-selectable
      name="company_id"
      [(ngModel)]="company_id"
      [items]="companies"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      [shouldStoreItemValue]="true"
      (onChange)="onChangeCompany()"
      >
    </ionic-selectable>
  </ion-item>

  <ion-searchbar [(ngModel)]="searchValue" (ionChange)="search()"></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let role of roles">

      <ion-item class="ion-activated">
        <ion-icon name="bookmark" slot="start"></ion-icon>
        <ion-label routerLink='/role-permission/{{role.id}}'>{{role.name}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="update(role.id)" color="success">
          <ion-icon name="create"></ion-icon>  
        </ion-button>
        <ion-button fill="outline" slot="end" (click)="delete(role.id,role.name)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink='/role/{{company_id}}/{{project_id}}'>
      <ion-icon name="bookmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>