<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Roles List</ion-title>
    <ion-buttons slot="primary">
      <ion-icon name="bookmarks" slot="end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let role of roles">

      <ion-item class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label routerLink='/role-permission/{{role.id}}'>{{role.name}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="update(role.id)" color="success">Edit</ion-button>
      </ion-item>

    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink='/user'>
      <ion-icon name="bookmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>