<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="save()" method="post">
    <div [hidden]="authUtils.user.project_id > 0">
    <ion-card>
      <ion-select [(ngModel)]="project_id" name="project_id" placeholder="Project">
        <ion-select-option *ngFor="let project of projects" value="{{project.id}}">
          {{project.name}}
        </ion-select-option>
      </ion-select>
    </ion-card>
  </div>

    <ion-card>
      <ion-item>
        <ion-input position="floating" [(ngModel)]="role.name" type="text" placeholder="Name" 
          name="name" maxLength="45" required>
        </ion-input>
        <ion-icon name="bookmark" item-start></ion-icon>
      </ion-item>
    </ion-card>

    <ion-row text-center>
      <ion-col col-6>
        <ion-button expand="full" type="submit" color="dark" [disabled]="!form.valid">Save</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button expand="full" color="danger" (click)="form.reset()">Reset
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
