<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Persons List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchValue" (ionChange)="search()"></ion-searchbar>

  <ion-list>
      <ion-item *ngFor="let user of users" lines="none">
        <ion-card style="width: 100% !important;">

          <ion-item lines="none">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>{{ user.identification }}</ion-label>
            <ion-button fill="outline" slot="end" (click)="update(user.id)" color="success">
              <ion-icon name="create"></ion-icon>  
            </ion-button>
            <ion-button fill="outline" slot="end" (click)="delete(user.id,user.login)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-card-header>
            <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
            <ion-card-title>{{ user.fullname }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <ion-item>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>{{ user.phone }}</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>{{ user.address }}</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink='/user-detail'>
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
