<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item [hidden]=true>
    <ion-label><strong>Roles</strong></ion-label>
    <ion-select [(ngModel)]="userRole.role_id" name="role_id" placeholder="Select..." 
      (ionChange)="assignRole($event)" okText="Add" #selectRoles>
      <ion-select-option *ngFor="let role of roles" value="{{role.id}}">
        {{role.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
      <ion-item *ngFor="let user of users" lines="none">
        <ion-card style="width: 100% !important;">

          <ion-item lines="none">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>{{ user.name }}</ion-label>
            <ion-button fill="outline" slot="end" (click)="update(user.id)" color="success">Edit</ion-button>
          </ion-item>

          <ion-card-header>
            <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>

            <ion-chip *ngFor="let role of user.roles" color="success">
              <ion-label color="dark">{{role.name}}</ion-label>
              <ion-icon name="close" color="dark" (click)="removeRole(user.id,role.id)"></ion-icon>
            </ion-chip>

            <ion-button fill="clear" color="success" (click)="openSelectRoles(user.id)">
              <ion-icon slot="start" name="add-circle" ></ion-icon>
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink='/user'>
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>