<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item [hidden]=true>
    <ion-label><strong>Roles</strong></ion-label>
    <ion-select [(ngModel)]="userRole.role_id" name="role_id" placeholder="Select..." 
      (ionChange)="assignRole()" okText="Add" #selectRoles>
      <ion-select-option *ngFor="let role of roles" value="{{role.id}}">
        {{role.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-item [hidden]=true>
    <ion-label>Roles</ion-label>
    <ionic-selectable
      name="role_id"
      [(ngModel)]="userRole.role_id"
      [items]="roles"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      [shouldStoreItemValue]="true"
      (onChange)="assignRole()"
      #selectRoles>
    </ionic-selectable>
  </ion-item> -->


  <ion-item [hidden]="!authUtils.user.isSuper">
    <ion-label>Projects</ion-label>
    <ionic-selectable
      name="project_id"
      [(ngModel)]="project_company.project_id"
      [items]="projects"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      [shouldStoreItemValue]="true"
      (onChange)="onChangeProject()"
      >
    </ionic-selectable>
  </ion-item>

  <ion-item [hidden]="!authUtils.user.isSuper">
    <ion-label>Companies</ion-label>
    <ionic-selectable
      name="company_id"
      [(ngModel)]="project_company.company_id"
      [items]="companies"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      [shouldStoreItemValue]="true"
      (onChange)="onChangeCompany()"
      >
    </ionic-selectable>
  </ion-item>

  <ion-searchbar [(ngModel)]="searchValue" (ionChange)="search()"></ion-searchbar>

  <ion-list>
      <ion-item *ngFor="let user of users; index as i" lines="none">
        <ion-card style="width: 100% !important;">

          <ion-item lines="none">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>{{ user.info.name }}</ion-label>
            <ion-button fill="outline" slot="end" (click)="update(user.id)" color="success">
              <ion-icon name="create"></ion-icon>  
            </ion-button>
            <ion-button fill="outline" slot="end" (click)="delete(user.id,user.login)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-card-header>
            <ion-card-subtitle>{{ user.info.email }}</ion-card-subtitle>
            <ion-card-title>{{ user.login }}</ion-card-title>
            <!-- <ion-card-title>{{ user.info.fullname }}</ion-card-title> -->
          </ion-card-header>

          <ion-card-content>

            <ion-chip *ngFor="let role of user.roles" color="success">
              <ion-label color="dark">{{role.name}}</ion-label>
              <ion-icon name="close" color="dark" (click)="removeRole(user.id,role.id)"></ion-icon>
            </ion-chip>

            <ion-button fill="clear" color="success" (click)="openSelectRoles(user.id,project_company.project_id)">
              <ion-icon slot="start" name="add-circle" ></ion-icon>
            </ion-button>

            <ion-item>
              <ion-label><strong>Activated</strong></ion-label>
              <ion-toggle [(ngModel)]="user.activated"
              (click)="changeActivatedStatus(user.id, i)"></ion-toggle>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink='/user/{{project_company.project_id}}/{{project_company.company_id}}'>
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>