<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [hidden]="!authUtils.isAuthenticated()">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-list-header>{{authUtils.user.company.name}} [{{authUtils.user.company.country.name}}]</ion-list-header>
          <ion-note>{{authUtils.user.info.fullname}} - {{authUtils.user.login}} </ion-note>


          <ng-template #moduleTemplate let-modules="modules">

            <div *ngFor="let module of modules; let i = index">

              <ion-menu-toggle auto-hide="false" *ngIf="module?.children.length == 0">

                <ion-item (click)="selectedIndex = module.id" lines="none" [routerLink]="module.url" routerDirection="root"
                   routerLinkActive="active" [class.selected]="selectedIndex == module.id">
                  <ion-icon [name]="module.icon" slot="start"></ion-icon>
                  <ion-label>{{ module.name }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-item button (click)="onSubMenu(module)" *ngIf="module?.children?.length > 0" (click)="module.open = !module.open" lines="none"
                [class.selected]="selectedIndex == module.id && module.open" details="false">

                <ion-icon slot="start" name="arrow-forward" *ngIf="!module.open"></ion-icon>
                <ion-icon slot="start" name="arrow-down" *ngIf="module.open"></ion-icon>
                <ion-label>{{ module.name }}</ion-label>
              </ion-item>

              <ion-list *ngIf="module?.open && module?.children.length > 0" >
                  <div style="padding-left: 15px;"> 

                    <ng-template [ngTemplateOutlet]="moduleTemplate"
                    [ngTemplateOutletContext]="{ modules: module.children }" >
                    </ng-template>

                  </div>
                  
              </ion-list>
            </div>
          </ng-template>

          <!-- Initiate the recursive template rendering. -->
          <ng-template [ngTemplateOutlet]="moduleTemplate" [ngTemplateOutletContext]="{ modules: authUtils.modules }">
          </ng-template>

        </ion-list>

        <ion-list id="labels-list">
          <ion-item (click)="closeSession()" lines="none">
            <ion-icon slot="start" name="lock-closed" color="danger"></ion-icon>
            <ion-label><strong>Logout</strong></ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>