<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Role has permissions</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="briefcase" slot="end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label><strong>Role:</strong> {{ role.name?.toUpperCase()}}</ion-label>
    </ion-item>
  </ion-card> 

  <ion-searchbar [(ngModel)]="searchValue" (ionChange)="search()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let permission of permissions; let i = index">
      <ion-label><strong>{{permission.name}}</strong></ion-label>
      <ion-toggle [(ngModel)]="permission.roleHasPermission"
        (click)="changePermission(permission.id, permission.roleHasPermission, i)"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)='giveAllPermissions(role.id)'>
      <ion-icon name="magnet"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>